# Assignment 9 -- IS602 -- Jim Hamski

In [84]:
import pandas as pd
import numpy as np

Reading in the dataset I used the 'delim_whitespace' function argument - which smart enough to handle the quotes!

In [85]:
column_names = ["Host", "Date", "Request", "Reply", "Bytes"]
df = pd.read_csv('data.txt',  delim_whitespace=True, header=None, names=column_names, engine='c')

In [86]:
df.head()

,Host,Date,Request,Reply,Bytes
0,141.243.1.172,[29:23:53:25],GET /Software.html HTTP/1.0,200,1497
1,query2.lycos.cs.cmu.edu,[29:23:53:36],GET /Consumer.html HTTP/1.0,200,1325
2,tanuki.twics.com,[29:23:53:53],GET /News.html HTTP/1.0,200,1014
3,wpbfl2-45.gate.net,[29:23:54:15],GET / HTTP/1.0,200,4889
4,wpbfl2-45.gate.net,[29:23:54:16],GET /icons/circle_logo_small.gif HTTP/1.0,200,2624

In [87]:
df['Bytes'] = pd.to_numeric(df['Bytes'], errors='coerce')

In [88]:
df['Date'] = df['Date'].astype(str)
print df.dtypes

Host        object
Date        object
Request     object
Reply       object
Bytes      float64
dtype: object

In [79]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [89]:
df['Date']

0        [29:23:53:25]
1        [29:23:53:36]
2        [29:23:53:53]
3        [29:23:54:15]
4        [29:23:54:16]
5        [29:23:54:18]
6        [29:23:54:19]
7        [29:23:54:19]
8        [29:23:54:19]
9        [29:23:54:19]
10       [29:23:54:19]
11       [29:23:54:20]
12       [29:23:54:25]
13       [29:23:54:37]
14       [29:23:54:37]
15       [29:23:54:40]
16       [29:23:55:01]
17       [29:23:55:21]
18       [29:23:55:23]
19       [29:23:55:29]
20       [29:23:55:33]
21       [29:23:55:46]
22       [29:23:55:47]
23       [29:23:56:03]
24       [29:23:56:12]
25       [29:23:56:14]
26       [29:23:56:24]
27       [29:23:56:36]
28       [29:23:57:05]
29       [29:23:57:06]
             ...
47718    [30:23:51:30]
47719    [30:23:51:30]
47720    [30:23:51:31]
47721    [30:23:51:31]
47722    [30:23:51:31]
47723    [30:23:51:35]
47724    [30:23:51:41]
47725    [30:23:51:46]
47726    [30:23:51:54]
47727    [30:23:51:56]
47728    [30:23:51:57]
47729    [30:23:51:59]
47730    [30:23:52:00]
47731    [30:23:52:06]
47732    [30:23:52:08]
47733    [30:23:52:10]
47734    [30:23:52:12]
47735    [30:23:52:15]
47736    [30:23:52:21]
47737    [30:23:52:39]
47738    [30:23:52:42]
47739    [30:23:52:42]
47740    [30:23:52:43]
47741    [30:23:52:43]
47742    [30:23:52:44]
47743    [30:23:52:44]
47744    [30:23:52:44]
47745    [30:23:52:45]
47746    [30:23:53:06]
47747    [30:23:53:07]
Name: Date, dtype: object

In [80]:
df.dtypes

Host               object
Date       datetime64[ns]
Request            object
Reply              object
Bytes             float64
dtype: object

*Which hostname or IP address made the most requests?*

In [62]:
host_series = df.ix[:,0]
print host_series.value_counts().head(1)

sandy.rtptok1.epa.gov    294
Name: Host, dtype: int64

*Which hostname or IP address received the most total bytes from the server? How many bytes did it receive?*

In [63]:
df_BytesRecieved = df.loc[:,['Host','Bytes']].groupby('Host').sum().sort_values('Bytes', ascending=False).head(1)
print df_BytesRecieved

                           Bytes
Host
piankhi.cs.hamptonu.edu  7267751

*During what hour was the server the busiest in terms of requests?  (You can do this by grouping each hour period e.g. 13:00 â€“ 14:00. Then count the number of requests in each hour)*

In [64]:
df.Date

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
5       NaT
6       NaT
7       NaT
8       NaT
9       NaT
10      NaT
11      NaT
12      NaT
13      NaT
14      NaT
15      NaT
16      NaT
17      NaT
18      NaT
19      NaT
20      NaT
21      NaT
22      NaT
23      NaT
24      NaT
25      NaT
26      NaT
27      NaT
28      NaT
29      NaT
         ..
47718   NaT
47719   NaT
47720   NaT
47721   NaT
47722   NaT
47723   NaT
47724   NaT
47725   NaT
47726   NaT
47727   NaT
47728   NaT
47729   NaT
47730   NaT
47731   NaT
47732   NaT
47733   NaT
47734   NaT
47735   NaT
47736   NaT
47737   NaT
47738   NaT
47739   NaT
47740   NaT
47741   NaT
47742   NaT
47743   NaT
47744   NaT
47745   NaT
47746   NaT
47747   NaT
Name: Date, dtype: datetime64[ns]

*Which .gif image was downloaded the most during the day?*

*What HTTP reply codes were sent other than 200?*

In [96]:
print df['Reply'].unique()

['200' '302' '304' '404' '403' '501' 'HTTP/1.0"' '500' '400']

In [99]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.sort_values(by='B')

AttributeError: 'DataFrame' object has no attribute 'sort_values'